<section 
  id="transcript"
  x-data="{ 
    html: '',
    chat: {},
    message: '',
  }"
  x-on:chat-updated.window="
    chat = $event.detail.chat;
    html = showdown.makeHtml(chat.transcript);
  "
  x-init="
    chat    = JSON.parse(localStorage.getItem('chat')) || chat;
    html    = showdown.makeHtml(chat.transcript)       || html;
    message = localStorage.getItem('message')          || message;
  "
>
  <article x-html="html">
  </article>
</section>
<section 
  id="write"
  x-data="{ message: '', chat: {} }"
  x-init="chat = JSON.parse(localStorage.getItem('chat'))"
  x-on:chat-updated.window="chat = $event.detail.chat"
>
  <div>
    <textarea 
      id="message" 
      type="text" 
      placeholder="Write a message..." 
      x-model="message" 
      x-on:keyup.enter="llchat(message, chat); message = ''" 
      x-on:keydown.enter="preventNewline"></textarea>
    <button x-on:click="llchat(message, chat); message =''">Send</button>
  </div>
</section>
