<section 
  id="settings"
  x-data="{ parameters: parameters }"
  x-init="parameters = JSON.parse(localStorage.getItem('parameters')) || parameters"
>
  <label for="prompt">Prompt</label>
  <textarea 
    type="text"
    name="prompt"
    rows=5 
    x-model="parameters.prompt"
    x-on:change="localStorage.setItem('parameters', JSON.stringify(parameters))"
  ></textarea>
  <div>
    <div>
      <label for="user">User</label>
      <input 
        type="text" 
        name="user" 
        x-model="parameters.user" 
        x-on:change="localStorage.setItem('parameters', JSON.stringify(parameters))"
      />
    </div>
    <div>
      <label for="bot">Character</label>
      <input 
        type="text" 
        name="char" 
        x-model="parameters.character"
        x-on:change="localStorage.setItem('parameters', JSON.stringify(parameters))"
      />
    </div>
  </div>
  <label for="template">Prompt template</label>
  <textarea 
    id="template" 
    name="template" 
    rows=5 
    x-model="parameters.template" 
    x-on:change="localStorage.setItem('parameters', JSON.stringify(parameters))"
  ></textarea>
  <label for="template">Chat history template</label>
  <textarea 
    id="template" 
    name="historyTemplate" 
    rows=1 
    x-model="parameters.historyTemplate" 
    x-on:change="localStorage.setItem('parameters', JSON.stringify(parameters))"
  ></textarea>
  <div>
    <div>
      <label for="temperature">Temperature</label>
      <input 
        type="range" 
        id="temperature" 
        min="0.0" 
        max="1.0" 
        step="0.01" 
        name="temperature"
        x-model="parameters.temperature"
        x-on:click="localStorage.setItem('parameters', JSON.stringify(parameters))"
      />
      <span x-text="parameters.temperature"></span>
    </div>
    <div>
      <label for="nPredict">Predictions</label>
      <input 
        type="range" 
        id="nPredict" 
        min="1" 
        max="2058" 
        step="1" 
        name="n_predict" 
        x-model="parameters.n_predict"
        x-on:click="localStorage.setItem('parameters', JSON.stringify(parameters))"
      />
      <span x-text="parameters.n_predict"></span>
    </div>
    <div>
      <label for="repeat_penalty">Penalize repeat sequence</label>
      <input 
        type="range" 
        id="repeat_penalty" 
        min="0.0" 
        max="2.0" 
        step="0.01" 
        name="repeat_penalty" 
        x-model="parameters.repeat_penalty" 
        x-on:click="localStorage.setItem('parameters', JSON.stringify(parameters))"
      />
      <span x-text="parameters.repeat_penalty"></span>
    </div>
    <div>
      <label for="repeat_last_n">Consider N tokens for penalize</label>
      <input 
        type="range" 
        id="repeat_last_n" 
        min="0.0"
        max="2058" 
        name="repeat_last_n" 
        x-model="parameters.repeat_last_n" 
        x-on:click="localStorage.setItem('parameters', JSON.stringify(parameters))"
      />
      <span x-text="parameters.repeat_last_n"></span>
    </div>
  </div>
</section>
<section id="write">
  <div x-data="{ message: '' }">
    <textarea id="message" type="text" placeholder="Write a message..." x-model="message" x-on:keyup="localStorage.setItem('message', message)" x-on:keydown.enter="preventNewline" ></textarea>
    <button hx-target="#chat" hx-get="templates/chat.html" hx-trigger="click, keyup[keyCode==13] from:#message" >Send</button>
  </div>
</section>
