<html>
	<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>llama.html</title>

    <link rel="stylesheet" href="css/main.css">

    <script defer src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    
    <script defer src="js/defaults.js"></script>
    <script defer src="js/functions.js"></script>
	</head>
  <body>
    <main>
      <section 
        id="prompts" 
        x-data="{ chats: [] }" 
        x-init="chats = JSON.parse(localStorage.getItem('chats')) || chats" 
        x-on:chats-updated.window="chats = $event.detail.chats"
      >
        <button hx-target="#chat" hx-get="templates/settings.html">New Prompt</button>
        <template x-for="chat in chats">
          <button x-text="chat.name" x-on:click="localStorage.setItem('chat', chat);" hx-target="#chat" hx-get="templates/chat.html"></button>
        </template>
      </section>
      <section id="chat" hx-get="templates/settings.html" hx-trigger="load">
      </section>
    </main>
  </body>
</html>
